.items {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
.inputs * {
    margin-left: 15px;
}
.inputs input{
    width: 150px;
    height: 40px;
    background: var(--light-green);
    border: none;
    border-radius: 5px;
    font-size: 12px;
}    
.inputs input:focus {
    border: 0.5px solid rgba(253, 74, 70, 0.2);
}
.password-section {
    display: inline-flex;
    position: relative;
}
.password-input {
    padding-right: 30px;
}
.aye-icon {
    position: absolute;
    left: 125px;
    top: 13px;
    cursor: pointer;
}
.logo {
    display: flex;
    align-items: center;
}
.btn {
    width: 120px;
    height: 40px;
    background: var(--light-green);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid var(--light-green);
    transition: .8s ease-in-out;
}
.btn:hover {
    border-color: rgba(253, 74, 70, 0.5);
}
.btn-green {
    background: #A4C02E;
    color: white;
    font-weight: 500;
}
.btn-green:hover {
    border-color: var(--light-green);
}
.btn-theme {
    width: 40px;
    height: 40px;
    background: var(--light-green);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.btn-theme img {
    margin: 0 0 0 2px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 68px;
    height: 40px;
    background: var(--light-green);
    border-radius: 5px;
    border: none;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
}
.dropdown-stmenu{
    display: flex;
    align-items: center;
    margin-right: 14px;
}
.dropdown-stmenu span {
   margin-right: -11px;
   font-size: 14px;
}
.dropdown-toggle {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 64px;
    height: 40px;
    border: none;
    color: var(--main-text-color);
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
.dropdown-menu {
    position: absolute;
    top: 120%;
    left: -35px;
    z-index: 2;
    border: 1px solid #ddd;
    background-color: var(--light-green);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} 
.dropdown-item {
    display: flex;
    padding: 10px;
    margin: 0;
    color: var(--main-text-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}  
.dropdown-item:hover {
    background-color: var(--main-bg-color);
}