@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
    --main-text-color: #001827;
    --main-bg-color: #F5F5F5;
    --light-green: #E3E3E3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: var(--main-bg-color);
}
.container {
    max-width: 1310px;
    margin: 0 auto;
}
.text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--main-text-color);
}
a, a:visited, a:hover{
    text-decoration: none;
}
input {
    outline: none;
}
li {
    list-style: none;
}
